<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">


<title>Acceso Rápido</title>

<link href="/bootstrap.min.css" rel="stylesheet"></link>
<link href="/navbar-top-fixed.css" rel="stylesheet"></link>

</head>
<body>
	<div class="container bg-light">
		<br> <br>
		<ul class="nav nav-pills nav-fill">
			<li class="nav-item"><a class="nav-link active" href="#">Inicio</a></li>
			<li class="nav-item"><a class="nav-link" href="#">ViajesPublicados</a></li>
			<li class="nav-item"><a class="nav-link" href="#">Notificaciones</a></li>
			<li class="nav-item"><a class="nav-link" href="#">Mensajes</a></li>
			<li class="nav-item"><a class="nav-link" href="#" tabindex="-1"
				aria-disabled="true">Ajustes</a></li>
		</ul>

		<br> <br>

		<div class="container">
			<div class="row justify-content-start">
				<div class="col align-self-start">
					<a href="#"></a>
						<img src="conductor.png" alt="buscar" /> 
						Buscar conductor<br/>
					</a>
				</div>
				<div class="col align-self-star">
					<a  th:href="#">
						<img src="publicar.png" alt="buscar" /> 
						Publicar Viaje<br/>
					</a>
				</div>
			</div>

		</div>

	</div>

	<script src="/jquery-3.4.1.slim.min.js"></script>
	<script src="/tether.min.js"></script>
	<script src="/bootstrap.min.js"></script>

</body>
</html>